
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
               <ul class="breadcrumb">
                   <li><a href="index.html">Home</a></li>
                   <li class="active">Insurance</li>
               </ul>
            </div>
            <div class="col-xs-12">
               <h3>Insurance</h3>
               <hr>
            </div>
        </div>
        <div class="row row-content">
            <div class="col-md-8">
                <div class="panel-group" id="accordion">
                    <div ng-if="insurances.length==0">
                        <strong>No data available</strong>
                    </div>
                    <div ng-if="insurances.length>0">
                    <div ng-repeat="insurance in insurances">
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#!/#insurances#collapse{{insurance.insuranceId}}">{{insurance.insuranceId}}</a>
                            </h4>
                          </div>
                          <div id="collapse{{insurance.insuranceId}}" class="panel-collapse collapse in">
                        <div class="panel-body">
                        <div>
                            <strong>Health Plan: </strong>
                            {{insurance.healthPlan}}
                        </div>
                        <div>
                            <strong>Health Product: </strong>
                            {{insurance.healthProduct}}
                        </div>
                        <div >
                            <strong>Group Number: </strong>
                            {{insurance.groupNumber}}
                        </div>
                        <div>
                            <strong>Contact: </strong>
                            {{insurance.contact}}
                        </div>
                       
                      </div>
                          </div>
                        </div>
                    </div>
                    </div>
                </div> 
                    
                   <!--<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#visit">Visit on {{visit.visitDate}}</button>-->


            </div>
             </div>
        </div>

      
